<a href="/">Home</a>

<h1>Record Store Inventory</h1>

<ul>
<% @artists.each do |artist| %>
<li><%= artist.name %></a></li>
<% end %>
</ul>

<ul>
<% @albums.each do |album| %>
<li><%= album.name %></a></li>
<% end %>
</ul>
<!-- <p> Inventory <%= @inventory %></p>
<p> Albums: <%= @albums %></p>
<p> Artists: <%= @artists %></p> -->
